<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <form method="POST" action="/new">
        <label name="author">Name: </label>
        <input name="author" id="author"/>
        <label name="message">Message: </label>
        <input name="message" id="message"/>
        <button type="submit">submit</button>
    </form>
  </body>
</html>
