html {
  background-color: rgb(33,33,33);
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  max-width: 1280px;
  margin: 20px auto;
  background-color: rgb(177, 150, 176);
  display: grid;
  justify-items: center;
}

a {
  color: #00B7FF;
  background-color: burlywood;
  padding: 10px;
  margin: 10px;
  font-size: 1.2rem;
}

.sent-info {
  font-size: 0.7rem;
}